.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: brown;
  color: aqua;
}
